/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: #000000;
  text-align: center;
  padding: 100px;
  color: white;
}

/* Header */
header{
  height: 80px;
  background-color: #FFFFFF;
}

header .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: white;
}

header .menu ul{
  display: flex;
  list-style: none;
}

header .menu ul li{
  margin: 0 15px;
  display: flex;
}

header .menu ul li a{
  text-decoration: none;
  color: black;
}


.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.btn-accedi{
width: 100px;
height: 50px;
border-radius: 30px;
border: none;
background-color: #0161FF;
color: white;
}


/* Section */
section{
  display: flex;
  position: relative;
}


.container-1{
  position: relative;
  margin: 0 auto;
  background-color: #B4D0E7;
  height: 500px;
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  padding: 50px;
  
}

.Titolo-1{
  font-size:  3rem;
}

.prima-img{
  width: 700px;
  height: 400px;
  
}
.image-first{
  display: flex;
}
.btn-prova{
  width: 200px;
  height: 50px;
  margin:  20px;
  background-color: #0161FF;
  color: white;
  border: none;
}
.layout{
  display: flex;
}
section.layout{
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column
}
.bottoni-fatturaz{
  padding: 50px;
}
.colonne{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 500px;
  justify-content: space-between;
}

.column-left{
width: 100px;
height: 700px;
background-color: white;
border: 1px solid black;
}
.column-right{
width: 100px;
height: 700px;
background-color: white;
border: 1px solid black;
}

.column {
  float: left;
  width: 33.33%;
  border: 1px solid #D0D0D3;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.box-un-colonne{
  width: 60%;
  height: 100px;
  border: 1px solid black;
  justify-content: center;
}